:root {
    --light-background-color: #232323;
    --dark-background-color: #191919;
    --light-button-color: #353535;
    --dark-button-color: #353535;
    --contrast-color: #B4891C;
    --button-selected: #8B6D21;
    --font-color: #fff;
    --dark-font-color: #8C8C8C;

    --normal-font: 26px;
    --tiny-font: 24px;

    --login-big-font: 32px;
    --login-tiny-font: 20px;
    --login-font: 24px;

    font-family: 'Century Gothic', sans-serif;

}

* {
    padding: 0;
    margin: 0;
    font-weight: 400;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.010);
}

body{
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: unset;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    font-smooth: always;
}

/* login */

.login-body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: var(--light-background-color);
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-box {
    background-color: var(--dark-background-color);
    width: 57vmin;
    height: 62vmin;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    text-align: center;
}

.login-logo {
    max-width: 200px;
    margin-bottom: 20px;
    margin-top: 40px;
    width: 100px;
}

.login-text {
    color: var(--font-color);
    margin-top: 20px;
    margin-bottom: 30px;
    font-size: var(--login-big-font);
    font-weight: bolder;
    width: 70%;
}

.login-text {
    color: var(--font-color);
}

.login-small-text {
    color: var(--font-color);
    font-size: var(--login-tiny-font);
    text-align: left;
    width: 71%;
    line-height: 24px;
    font-weight: lighter;
}

.login-input {
    height: 40px;
    width: 67%;
    padding: 5px 15px;
    margin: 15px 0 15px 0;
    border: none;
    border-radius: 4px;
    font-size: var(--login-tiny-font);
    background-color: var(--light-button-color);
    color: var(--dark-font-color);
}

.login-input:focus {
    outline: none;
}

.login-input::placeholder {
    color: var(--dark-font-color);
    opacity: 0.8;
    font-size: var(--login-tiny-font);
    font-family: 'Century Gothic';
}

.login-remember-me {
    color: var(--dark-font-color);
    text-align: left;
    font-size: 1.115rem;
    width: 73%;
}

.login-button {
    background-color: var(--contrast-color);
    color: var(--dark-background-color);
    padding: 15px 30px;
    border: none;
    border-radius: 4px;
    font-size: var(--login-font);
    cursor: pointer;
    width: 72%;
    margin-top: 40px;
    margin-bottom: 60px;
}

.login-button:hover {
    background-color: var(--button-selected);
    color: var(--dark-background-color);
}

/* main page */

.content {
    height: 100vh;
    background-color: var(--light-background-color);
}

.sidebar {
    width: 18%;
    height: calc(100% - 3rem);
    padding: 1.5rem;
    background-color: var(--dark-background-color);
    z-index: 1;
}

.sidebar-title {
    color: var(--dark-font-color);
    font-size: var(--tiny-font);
}

.sidebar-button {
    width: auto;
    height: 2rem;
    border-radius: 4px;
    margin: 0.5rem 0;
    padding: 1.5rem 1rem;
    background-color: var(--light-button-color);
    color: var(--font-color);
    font-size: var(--normal-font);
}

.sidebar-button:hover {
    background-color: var(--button-selected);
}

.sidebar-button-options {
    height: calc(100% - 2rem);
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
}

.sidebar-logout-button {
    margin-top: auto;
}

.sidebar-collapse {
    width: 0;
    height: 100%;
    overflow-x: hidden;
    transition: 0.5s;
    background-color: var(--dark-background-color);
    position: absolute;
    top: 0;
    left: calc(18% + 3.5rem);
    z-index: 3;
}

.sidebar-collapse p {
    color: white;
    padding: 10px;
    text-align: center;
}

.sidebar-collapse::-webkit-scrollbar {
    display: none;
}
