:root{
    --light-background-color: #232323;
    --dark-background-color: #191919;
    --light-button-color: #BABABA;
    --dark-button-color: #353535;
    --contrast-color: #B4891C;
    --button-selected: #8B6D21;
    --font-color: #fff;
    --dark-font-color: var(--light-background-color);
}

.main-background {
    background-color: var(--light-background-color);
}
